* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

footer {
  height: fit-content;
  position: relative;
  background-color: #cec2ff;
  line-height: min(max(8px, 3vw), 30px);
  box-sizing: border-box;
  overflow: hidden;
}

footer p {
  padding-left: 12px;
  font-weight: 500;
  font-size: min(max(12px, 3vw), 20px);
}

footer .Box-left,
footer .Box-right {
  padding: 8px 0;
}

.Inner {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.Box-left {
  padding: 0 16px;
  border-left: 1px solid #b2b4b4;
  overflow: hidden;
}

.Box-right {
  overflow: hidden;
  border-left: 1px solid #b2b4b4;
}

.Box-bottom {
  clear: both;
  border-top: 1px solid #b2b4b4;
}

.Footer-link {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-weight: 500;
  font-size: min(max(12px, 3vw), 20px);
  height: 100%;
}

.Footer-link:hover {
  color: rgb(16, 40, 252);
  text-shadow: 1px 4px 10px #b5b6fa;
}

.Marquee-container {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background: rgb(255, 139, 44);
}

.Marquee-container p {
  margin-left: 16px;
}

.Weather-icon {
  width: 24px;
}

.Content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 418px);
}

.Image-block {
  background: url("../public/images/Runners-unsplash.jpeg") no-repeat center center;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.First-header {
  text-align: center;
  font-size: 6vw;
  line-height: 135%;
  font-family: Roboto;
}

.Second-header {
  font-size: 4vw;
  line-height: 135%;
  font-family: Roboto;
}

h4 {
  font-size: calc(8px + 1.5vw);
  line-height: 125%;
  font-family: Roboto;
}

p {
  font-size: calc(8px + 1.4vw);
  font-family: Roboto;
}

.Grey-text {
  font-family: Roboto;
  font-size: 3vw;
  line-height: 135%;
  color: #5b5c5c;
}

.Margin-top-xs {
  margin-top: 2vh;
}

.Margins-v {
  margin: 12px 0;
}

.Margin-top-s {
  margin-top: 10vh;
}

.Margin-top {
  margin-top: 12vh;
}

.Margin-left {
  margin-left: 24px;
}

#Gear {
  background-color: #f5f5d4;
}

#Books {
  background: rgb(247, 250, 79);
  background: linear-gradient(
    0deg,
    rgba(247, 250, 79, 1) 0%,
    rgba(245, 245, 212, 1) 100%
  );
}

#Inspiration {
  background: rgb(247, 250, 79);
  background: linear-gradient(0deg, rgba(#cec2ff, 1) 0%, rgba(247, 250, 79, 1) 100%);
}
