* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

footer {
  padding-bottom: 0;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  position: relative;
  background-color: #cec2ff;
  z-index: -1;
}

.Inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 23px;
  clear: both;
}

.Box-left {
  padding: 0 23px;
  border-left: 1px solid #b2b4b4;
  overflow: hidden;
}

.Box-right {
  overflow: hidden;
  border-left: 1px solid #b2b4b4;
}

.Box-bottom {
  clear: both;
  border-top: 1px solid #b2b4b4;
}

.Footer-link {
  border-right: 1px solid #b2b4b4;
  display: inline-block;
  padding: 0 2em;
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-size: 16px;
  height: 100%;
}

.Marquee-container {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background: rgb(255, 139, 44);
}

.Marquee-container p {
  margin-left: 16px;
}

.Weather-icon {
  width: 24px;
}

.Content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 418px);
}

.Image-block {
  background: url("../public/images/Runners-unsplash.jpeg") no-repeat center
    center;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.First-header {
  text-align: center;
  font-size: 6vw;
  line-height: 135%;
  font-family: Roboto;
}

.Second-header {
  font-size: 4vw;
  line-height: 135%;
  font-family: Roboto;
}

h3 {
  font-size:calc(8px + 1.3vw);
  line-height: 125%;
  font-family: Roboto;
}

h4 {
  font-size:calc(8px + 1.5vw);
  line-height: 125%;
  font-family: Roboto;
}

p {
  font-size:calc(8px + 1.4vw);
  font-family: Roboto;
}

.Grey-text {
  font-family: Roboto;
  font-size: 3vw;
  line-height: 135%;
  color:#5b5c5c;
}

.Margin-top-xs {
  margin-top: 2vh;
}

.Margins-v {
  margin: 12px 0;
}

.Margin-top-s {
  margin-top: 10vh;
}

.Margin-top {
  margin-top: 12vh;
}


.Margin-left {
  margin-left: 24px;
}